body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

h1 {
    margin: 20px auto;
    color: whitesmoke;
}

input[type="submit"] {
    width: 150px;
    margin: 20px auto;
    padding: 15px 40px;
    display: block;
    text-align: center;
    font-size: small;
    border-radius: 25px;
    border: 2px solid #2ecc71;
    color: whitesmoke;
    background: none;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #2ecc71;
}

.box {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 70px;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
    border: 2px solid #3498db;
    background: #191919;
}

.box input[type="text"], .box input[type="password"] {
    width: 235px;
    margin: 20px auto;
    padding: 15px 10px;
    display: block;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #3498db;
    color: whitesmoke;
    background: none;
    outline: none;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71;
}

.box .login {
    margin-top: 87px;
}

.box a {
    color: whitesmoke;
}

.confirm_box h1 {
    margin: -55px auto 20px;
    color: whitesmoke;
}

.confirm_box {
    width: 650px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px;
    text-align: center;
    border-radius: 35px;
    border: 2px solid #3498db;
    background: #191919;
}

.confirm_box input[type="text"], .confirm_box input[type="password"] {
    width: 235px;
    margin: 5px auto;
    padding: 15px 20px;
    text-align: center;
    color: whitesmoke;
    border-radius: 25px;
    border: 2px solid #3498db;
    background: none;
    outline: none;
    transition: 0.25s;
}

.orders h1 {
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -200px;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
}

.orders table {
    width: 750px;
    top: 50%;
    margin: 275px auto;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    border-collapse: collapse;
    background: #191919;
}

.orders tr {
    padding: 10px 15px;
    color: #2ecc71;
    border-top: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
    border-right: 2px solid #3498db;
    border-left: 2px solid #3498db;
}

.orders td {
    padding: 10px 15px;
    color: #3498db;
    border-top: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
    border-right: 2px solid #3498db;
    border-left: 2px solid #3498db;
}

.orders tr:hover td {
    color: #2ecc71;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -100px;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}