body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box {
    width: 400px;
    height: 350px;
    padding: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: 2px solid #3498db;
    background: #191919;
    text-align: center;
}

.box h1 {
    color: whitesmoke;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
    border: 2px solid #3498db;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 15px 10px;
    width: 235px;
    outline: none;
    color: whitesmoke;
    border-radius: 25px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    width: 150px;
    border: 2px solid #2ecc71;
    background: none;
    font-size: small;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 15px 40px;
    outline: none;
    color: whitesmoke;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

.box .create {
    color: whitesmoke;
    margin: 20px auto;
    font-size: medium;
    vertical-align: -75px;
    cursor: pointer;
}

.box .enter {
    margin: 20px auto;
    font-size: medium;
    vertical-align: -25px;
    cursor: pointer;
}

.box a.text:hover {
    color: #2ecc71;
}

.box a.text:active {
    color: #3498db;
}

.box .text p {
    color: whitesmoke;
    text-decoration-color: whitesmoke;
}